.splash {
    background: no-repeat bottom/cover url('../img/splash.jpg');
    min-height: 65vh;
}

.next-tour-date-info, .next-tour-date-date, .next-tour-date-city, .next-tour-date-venue {
    font-family: "loretta-variable", sans-serif;
    font-variation-settings: "wght" 700;
    color: var(--theme-white);
}
.next-tour-date-info {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0.8) 100%);

    /* Notched corners */
    border-radius: 0 0 1em 1em;
    --notchSize: 1em;
    clip-path:
        polygon(
            0% var(--notchSize),
            var(--notchSize) 0%,
            calc(100% - var(--notchSize)) 0%,
            100% var(--notchSize),
            100% calc(100% - var(--notchSize)),
            calc(100% - var(--notchSize)) 100%,
            var(--notchSize) 100%,
            0% calc(100% - var(--notchSize))
        );
}

.next-tour-date-label {
    font-family: "gin", serif;
    font-weight: 400;
    font-style: normal;
}