:root {
    /* Color Pallet */
    --theme-black: #171717;
    --theme-black-rgb: 23, 23, 23;
    --theme-white: #F9F9F9;
    --theme-white-rgb: 249, 249, 249;
    --theme-primary: #DF5050;
    --theme-primary-rgb: 223, 80, 80;

    --bs-border-radius: 0;
}

/* Utility */
.hidden {
    position: absolute;
    left: -9999px;
}

/* General */
body {
    background: black;
    color: var(--theme-white);
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3,.display-4, .display-5, .display-6{
    font-family: "gin", serif;
    color: var(--theme-white);
    text-shadow: 2px 2px 4px black;
}
hr {
    border: solid var(--theme-primary) 1px;
}
hr.header-hr {
    border-width: 2px;
    opacity: 1;
}

/* Navbar */
nav.navbar {
    background: var(--theme-black) !important;
    background: linear-gradient(10deg, black, var(--theme-black) 40%) !important;
    border-bottom: solid var(--theme-black) 2px;
}
.navbar-brand img {
    height: 30px;
}
.nav-link {
    --bs-nav-link-hover-color: var(--theme-primary);
    font-family: "gin", serif;
    letter-spacing: 1px;
}
.navbar-dark {
    --bs-navbar-toggler-border-color: var(--theme-white)
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) var(--theme-white);
}

/* Button */
.btn {
    --bs-btn-font-family: "gin", serif;
    letter-spacing: 1px;
    white-space: nowrap;
}
.btn.btn-outline-primary {
    --bs-btn-bg: rgba(var(--theme-black-rgb), 0.5);
    --bs-btn-color: var(--theme-white);
    --bs-btn-border-color: var(--theme-primary);
    --bs-btn-border-width: 3px;
    --bs-btn-border-radius: 0;
    --bs-btn-hover-bg: var(--theme-primary);
    --bs-btn-hover-color: black;
    --bs-btn-hover-border-color: var(--theme-white);
    --bs-btn-active-bg: var(--theme-primary);
    --bs-btn-active-color: white;
    --bs-btn-active-border-color: var(--theme-primary);
}

/* Tour Dates Display */
.upcoming-event-dates {
    font-family: "loretta-variable", sans-serif;
    font-variation-settings: "wght" 700;
    color: var(--theme-white);
}
.sold-out-tag {
    color: var(--theme-white);
    margin-bottom: -0.5em;
}
/* Tour Date Link Styling */
.btn.btn-primary {
    --bs-btn-font-family: "gin", serif;
    --bs-btn-font-weight: 700;
    --bs-btn-bg: var(--theme-primary);
    --bs-btn-color: black;
    --bs-btn-border-color: var(--theme-primary);
    --bs-btn-border-radius: 0;
    --bs-btn-hover-bg: var(--theme-white);
    --bs-btn-hover-color: var(--theme-black);
    --bs-btn-hover-border-color: var(--theme-white);
    --bs-btn-active-bg: var(--theme-primary);
    --bs-btn-active-color: white;
    --bs-btn-active-border-color: var(--theme-primary);
}

/* Event Title Styling */
h1.event-title {
    font-family: "gin", serif;
    font-weight: 400;
    font-style: normal;
}
.event-title span {
    display: block;
}
@media (min-width: 576px) {
    .event-title-the {
        margin-bottom: -0.3em !important;
    }
}

.theme-bg-dark {
    background: #080808;

    background: radial-gradient(43% 120% at 50% 40%, var(--theme-black), black);
}